<!-- include header -->

<%- include('include/_header') %>

<!-- include header -->


<div class="container my-4">

    <div class="row my-4">

        <div class="col my-auto">
            <div class="about-icon-circle mx-auto" data-aos="flip-left" data-aos-duration="1000">
                <div class="about-icon-square">
                    <img src="images/About/WB logo 1.png" class="about-icon-img" alt="">
                </div>
            </div>
        </div>

        <div class="col my-auto">
            <div class="about-description p-4 mx-auto my-4" data-aos="flip-right" data-aos-duration="1000">

                <h4>About Whispering Bookshelves</h4>

                <p style="color: #ffc107;">
                    Welcome to Whispering Bookshelves, your virtual gateway to a world of magic and wonder. Step into our enchanting online book store, where stories come alive and imaginations take flight.
                </p>

                <p style="color: #ffc107;">
                    At Whispering Bookshelves, we believe in the transformative power of literature, especially when it comes to the realms of magic and fantasy. Our carefully curated collection of books is a treasure trove for those who seek to be captivated by the extraordinary. Embark on a journey through the enchanting tapestry of human imagination, the essence of magic woven seamlessly within the fabric of every page. 
                </p>

                <p style="color: #ffc107;">
                    As you delve deeper into the Whispering Bookshelves, you'll discover that the books themselves possess a magical life force. Each volume appears to breathe, pages fluttering softly as if alive, eager to share their wisdom. When you pluck a book from its resting place, it opens willingly to the exact page you seek, revealing enchanting illustrations and illuminating text that illuminates the mysteries of the arcane arts.The stories told within transcend the boundaries of reality, allowing you to experience magical realms and fantastical adventures firsthand.
                </p>

            </div>
        </div>

    </div>



    <div class="row my-4">

        <div class="col my-auto hide-bookshop-img">
            <div class="about-bookshop-square mx-auto" data-aos="flip-left" data-aos-duration="1000">
                <img src="images/About/Shop.png" class="about-bookshop-img">
            </div>
        </div>

        <div class="col my-auto">
            <div class="about-description p-4 mx-auto my-4" data-aos="flip-right" data-aos-duration="1000">

                <h4>Easy Shopping</h4>

                <p style="color: #ffc107;">
                    We pride ourselves on providing a magical shopping experience, right from the comfort of your own home. Our user-friendly website is designed to transport you to a realm where dreams and reality blend seamlessly. Browse our virtual shelves and let the alluring whispers guide you to your next literary escape.
                </p>

                <p style="color: #ffc107;">
                    At Whispering Bookshelves, we invite you to unlock the secrets of extraordinary stories, let your imagination soar, and experience the captivating magic of literature. Let our virtual bookshelves whisper their tales to you, and embark on an enchanting journey that will stay with you long after you turn the last page.
                </p>

            </div>
        </div>

        <div class="col my-auto show-bookshom-img">
            <div class="about-bookshop-square mx-auto" data-aos="flip-left" data-aos-duration="1000">
                <img src="images/About/Shop.png" class="about-bookshop-img" alt="">
            </div>
        </div>

    </div>



    <div class="row my-4">

        <div class="col my-auto">
            <div class="about-icon-circle mx-auto" data-aos="flip-left" data-aos-duration="1000">
                <div class="about-icon-square">
                    <img src="images/About/User.jpg" class="about-icon-img" alt="">
                </div>
            </div>
        </div>

        <div class="col my-auto">
            <div class="about-description p-4 mx-auto my-4" data-aos="flip-right" data-aos-duration="1000">
                <h4>Developer Details</h4>
                <p>
                    <span class="my-auto">
                        <h6 style="color: #ffc107;">Iftakhar Quader Chowdhury</h6>
                        <p style="color: #ffc107;">
                            <i class="fa-regular fa-envelope mx-1"></i>
                            <a href="" style="color: #ffc107;">iftakharquader@gmail.com</a>
                        </p>
                        <p style="color: #ffc107;">
                            <i class="fa-solid fa-square-phone mx-1"></i>
                            +880 1867203568
                        </p>
                        <div class="row">
                            
                            <h6 style="color: #ffc107;">Skills:</h6>

                            <hr>

                            <div class="col-6">
                                <ul style="list-style-type: none; color: #ffc107;" class="my-auto">
                                    <li>
                                        <i class="fa-brands fa-codepen mx-1"></i>
                                        C/C++
                                    </li>
                                    <li>
                                        <i class="fa-brands fa-python mx-1"></i>
                                        Python
                                    </li>
                                    <li>
                                        <i class="fa-brands fa-python mx-1"></i>
                                        Django
                                    </li>
                                    <li>
                                        <i class="fa-brands fa-node-js mx-1"></i>
                                        Node-JS
                                    </li>
                                </ul>
                            </div>

                            <div class="col-6">
                                <ul style="list-style-type: none; color: #ffc107;" class="my-auto">
                                    <li>
                                        <i class="fa-solid fa-code mx-1"></i>
                                        HTML
                                    </li>
                                    <li>
                                        <i class="fa-brands fa-css3 mx-1"></i>
                                        Css
                                    </li>
                                    <li>
                                        <i class="fa-brands fa-bootstrap mx-1"></i>
                                        Bootstrap
                                    </li>
                                    <li>
                                        <i class="fa-brands fa-square-js mx-1"></i>
                                        JavaScript
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </span>
                </p>
            </div>
        </div>

    </div>

</div>


<!-- Footer -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
</script>


<!-- include Footer -->

<%- include('include/_footer') %>

    <!-- include Footer -->