<!-- include header -->

<%- include('include/_header') %>

<!-- include header -->

    <div class="container" id="books" style="border-bottom: 2px solid #3D5962;">

        <!-- Show books -->
        <% if(Books.length > 0) { %>

            <div class="row justify-content-center mx-3">

                <%- include('include/_showBooks') %>
    
            </div>

        <% } else { %>

            <div class="row text-center" style="min-width: 400px; min-height: 300px;">

                <h1 class="my-auto">Sorry, No book available under this category!</h1>

            </div>

        <% } %>

    </div>

<!-- include footer -->

<%- include('include/_footer') %>

<!-- include footer -->