<!-- Footer -->
<div class="container" style="border-top: 2px solid #3D5962;">
    <div class="row m-4 d-flex text-center text-md-start text-lg-start">

        <div class="col-lg-3 col-md-6 d-flex">
            <ul style="list-style: none;" class="me-auto ms-auto" style="word-break: break-all;">
                <li style="font-weight: 500;">WB Services</li>
                <li><a href="" class="footer-link">Affiliate Program</a></li>
                <li><a href="" class="footer-link">Publisher & Author Guidelines</a></li>
                <li><a href="" class="footer-link">Bulk Order Discount</a></li>
                <li><a href="" class="footer-link">WB Membership</a></li>
                <li><a href="" class="footer-link">WB Kids' Club</a></li>
                <li><a href="" class="footer-link">WB Bookfairs</a></li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
            <ul style="list-style: none;" class="me-auto ms-auto" style="word-break: break-all;">
                <li style="font-weight: 500;">About Us</li>
                <li><a href="" class="footer-link">About WB</a></li>
                <li><a href="" class="footer-link">Careers at WB</a></li>
                <li><a href="" class="footer-link">Whispering Bookshelves, Inc.</a></li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
            <ul style="list-style: none;" class="me-auto ms-auto" style="word-break: break-all;">
                <li style="font-weight: 500;">Quick Help</li>
                <li><a href="" class="footer-link">Help Center</a></li>
                <li><a href="" class="footer-link">Covid Safety</a></li>
                <li><a href="" class="footer-link">Shipping, Returns & Updates</a></li>
                <li><a href="" class="footer-link">Store Pickup</a></li>
                <li><a href="" class="footer-link">Order Status</a></li>
                <li><a href="" class="footer-link">Gift Cards</a></li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-6 d-flex" style="word-break: break-all;">
            <ul style="list-style: none;" class="me-auto ms-auto">
                <li style="font-weight: 500;">Contact Us</li>
                <li class="footer-link">4001 California Ave, Bakersfield, CA</li>
                <li class="footer-link">CA, United States</li>
                <li class="footer-link">
                    <span class="text-success">Opens: </span> <span>9 AM, </span>
                    <span class="text-danger">Closes: </span> <span>10 PM</span>
                </li>
                <li class="footer-link">whisperingbookshelves@gmail.com</li>
                <li class="footer-link">+1 925-560-1495</li>
            </ul>
        </div>

    </div>
</div>

<div class="container" style="border-top: 2px solid #3D5962;">

    <div class="row d-flex">
        <div class="col-lg-6 d-flex">
            <ul style="list-style: none; display: flex;" class="me-auto ms-auto">
                <li class="footer-link mx-2 my-3" style="font-size: 12px;">Terms of Use</li>
                <li class="footer-link mx-2 my-3" style="font-size: 12px;">Copyright & Trademark</li>
                <li class="footer-link mx-2 my-3" style="font-size: 12px;">Privacy</li>
                <li class="footer-link mx-2 my-3" style="font-size: 12px;">Accessibility</li>
                <li class="footer-link mx-2 my-3" style="font-size: 12px;">Cookie Policy</li>
                <li class="footer-link mx-2 my-3" style="font-size: 12px;">Sitemap</li>
            </ul>
        </div>

        <div class="col-lg-6 d-flex">
            <ul style="list-style: none; display: flex;" class="me-auto ms-auto mx-2">
                <li style="font-size: 30px;" class="mx-1"><i class="fa-brands fa-youtube footer-icon"></i></li>
                <li style="font-size: 30px;" class="mx-1"><i class="fa-brands fa-square-instagram footer-icon"></i></li>
                <li style="font-size: 30px;" class="mx-1"><i class="fa-brands fa-facebook footer-icon"></i></li>
                <li style="font-size: 30px;" class="mx-1"><i class="fa-brands fa-twitter footer-icon"></i></li>
                <li style="font-size: 30px;" class="mx-1"><i class="fa-brands fa-pinterest footer-icon"></i></li>
                <li style="font-size: 30px;" class="mx-1"><i class="fa-brands fa-google-play footer-icon"></i></li>
            </ul>
        </div>
    </div>

</div>
<!-- Footer -->

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/Alert.js"></script>

</body>

</html>