<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title> Home Page </title>

  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="./assets/css/HomePage.css">

  <style>
    .footer-link {

      text-decoration: none;
      color: #3D5962;
      /* word-wrap: break-word; */
    }

    .footer-link:hover {

      text-decoration: underline;
      color: #3D5962;
      /* word-wrap: break-word; */
    }

    .footer-icon:hover {

      color: darkcyan;
    }
  </style>

</head>

<body>

  <!-- Banner -->

  <div class="mb-2">

    <img src="./assets/images/B & N/7. Banner HD.png" class="banner">

  </div>

  <!-- Banner -->

  <div style="background-color: #3D5962; color: white;;">
    <p style="font-size: 18px; font-weight: bolder;" class="text-center p-2 mb-2">Premium Members Get 10% Off and Earn
      Rewards</p>
  </div>

  <!-- Swift Carousel -->

  <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-inner swift-Carousel">

      <div class="carousel-item active" data-bs-interval="5000">
        <img src="./assets/images/B & N/1. The Swift HD.png" class="d-block w-100 swift-image" alt="...">
      </div>

      <div class="carousel-item" data-bs-interval="5000">
        <img src="./assets/images/B & N/2. How to Eat a Book HD.png" class="d-block w-100 swift-image" alt="...">
      </div>

      <div class="carousel-item" data-bs-interval="5000">
        <img src="./assets/images/B & N/3. A Magic Steeped In Poison HD.png" class="d-block w-100 swift-image"
          alt="...">
      </div>

      <div class="carousel-item" data-bs-interval="5000">
        <img src="./assets/images/B & N/4. All Books HD.png" class="d-block w-100 swift-image" alt="...">
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>

  <!-- Swift Carousel -->

  <div class="container FindYourBook p-5">FIND YOUR PLACE AT B&N'S ONLINE BOOKSTORE
    Over 5 million books ready to ship, 3.6 million eBooks and 300,000 audiobooks to download right now! Curbside pickup
    available in most stores!</div>

  <!-- Genre Section -->

  <div class="container text-center">

    <div class="Genre-header p-3">Build Your Own Library</div>

    <div>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-skull-crossbones orange"></i>
        Crime & Thriller
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-heart orange"></i>
        Romance
      </a>

      <a href="" class="Genre-button">
        <i class="fa-brands fa-space-awesome orange"></i>
        Fiction
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-user-secret orange"></i>
        Mystery
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-feather-pointed orange"></i>
        Literature
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-tree orange"></i>
        Classic
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-book-open-reader orange"></i>
        Biography
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-hat-wizard orange"></i>
        Fantasy
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-masks-theater orange"></i>
        Literary Fiction
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-pen-nib orange"></i>
        Poetry
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-dragon orange"></i>
        Folklore & Mythology
      </a>

      <a href="" class="Genre-button">
        <i class="fa-sharp fa-solid fa-jedi orange"></i>
        Science Fiction & Fantasy
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-wand-sparkles orange"></i>
        YA Fantasy
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-tablet-screen-button orange"></i>
        YA Graphic
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-utensils orange"></i>
        COOKBOOKS, FOOD & WINE
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-compass-drafting orange"></i>
        Crafts & Hobbies
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-landmark-dome orange"></i>
        History
      </a>

      <a href="" class="Genre-button">
        <i class="fa-sharp fa-solid fa-face-grin-beam orange"></i>
        Humor
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-mountain-sun orange"></i>
        Nature
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-lightbulb orange"></i>
        Philosophy
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-place-of-worship orange"></i>
        Religious Books & More
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-hand-holding-heart orange"></i>
        Self-Help & Relationship
      </a>

      <a href="" class="Genre-button">
        <i class="fa-sharp fa-solid fa-cart-flatbed-suitcase orange"></i>
        Traveling
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-children orange"></i>
        Kids' Books
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-graduation-cap orange"></i>
        Academic
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-brush orange"></i>
        Art
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-ghost orange"></i>
        Paranormal
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-people-roof orange"></i>
        Sociology
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-baseball-bat-ball orange"></i>
        Sports
      </a>

      <a href="" class="Genre-button">
        <i class="fa-solid fa-brain orange"></i>
        Psychology
      </a>

    </div>

  </div>

  <!-- Genre Section -->

  <!-- Deep Dive -->
  <div class="container">
    <hr>
    <img src="./assets/images/B & N/5. Dive Into Good Books HD.jpg" class="container" alt="">
  </div>
  <!-- Deep Dive -->

  <div class="container">

    <!-- Sort -->
    <hr>
    <div class="sort-nav d-flex">

      <span class="me-auto px-5 sort-nav-header">Explore</span>

      <div class="dropdown-center px-5">
        <a class="nav-link dropdown-toggle sort-nav-header" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Sort
        </a>

        <ul class="dropdown-menu">

          <li><a class="dropdown-item" href="">Name [A-Z]</a></li>
          <li><a class="dropdown-item" href="">Name [Z-A]</a></li>

        </ul>
      </div>

    </div>
    <hr>

  </div>

  <!-- Payment -->
  <div class="container my-5">
    <img src="./assets/images/B & N/6. Payment HD.png" class="container" alt="">
  </div>
  <!-- Payment -->

  <!-- Footer -->
  <div class="container" style="border-top: 2px solid #3D5962;">
    <div class="row m-4 d-flex text-center text-md-start text-lg-start">

      <div class="col-lg-3 col-md-6 d-flex">
        <ul style="list-style: none;" class="me-auto ms-auto" style="word-break: break-all;">
          <li style="font-weight: 500;">WB Services</li>
          <li><a href="" class="footer-link">Affiliate Program</a></li>
          <li><a href="" class="footer-link">Publisher & Author Guidelines</a></li>
          <li><a href="" class="footer-link">Bulk Order Discount</a></li>
          <li><a href="" class="footer-link">WB Membership</a></li>
          <li><a href="" class="footer-link">WB Kids' Club</a></li>
          <li><a href="" class="footer-link">WB Bookfairs</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 d-flex">
        <ul style="list-style: none;" class="me-auto ms-auto" style="word-break: break-all;">
          <li style="font-weight: 500;">About Us</li>
          <li><a href="" class="footer-link">About WB</a></li>
          <li><a href="" class="footer-link">Careers at WB</a></li>
          <li><a href="" class="footer-link">Whispering Bookshelves, Inc.</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 d-flex">
        <ul style="list-style: none;" class="me-auto ms-auto" style="word-break: break-all;">
          <li style="font-weight: 500;">Quick Help</li>
          <li><a href="" class="footer-link">Help Center</a></li>
          <li><a href="" class="footer-link">Covid Safety</a></li>
          <li><a href="" class="footer-link">Shipping, Returns & Updates</a></li>
          <li><a href="" class="footer-link">Store Pickup</a></li>
          <li><a href="" class="footer-link">Order Status</a></li>
          <li><a href="" class="footer-link">Gift Cards</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 d-flex" style="word-break: break-all;">
        <ul style="list-style: none;" class="me-auto ms-auto">
          <li style="font-weight: 500;">Contact Us</li>
          <li class="footer-link">4001 California Ave, Bakersfield, CA</li>
          <li class="footer-link">CA, United States</li>
          <li class="footer-link">
            <span class="text-success">Opens: </span> <span>9 AM, </span>
            <span class="text-danger">Closes: </span> <span>10 PM</span>
          </li>
          <li class="footer-link">whisperingbookshelves@gmail.com</li>
          <li class="footer-link">+1 925-560-1495</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container" style="border-top: 2px solid #3D5962;">

    <div class="row d-flex">
      <div class="col-lg-6 d-flex">
        <ul style="list-style: none; display: flex;" class="me-auto ms-auto">
          <li class="footer-link mx-2 my-3" style="font-size: 12px;">Terms of Use</li>
          <li class="footer-link mx-2 my-3" style="font-size: 12px;">Copyright & Trademark</li>
          <li class="footer-link mx-2 my-3" style="font-size: 12px;">Privacy</li>
          <li class="footer-link mx-2 my-3" style="font-size: 12px;">Accessibility</li>
          <li class="footer-link mx-2 my-3" style="font-size: 12px;">Cookie Policy</li>
          <li class="footer-link mx-2 my-3" style="font-size: 12px;">Sitemap</li>
        </ul>
      </div>

      <div class="col-lg-6 d-flex">
        <ul style="list-style: none; display: flex;" class="me-auto ms-auto mx-2">
          <li style="font-size: 30px;" class="mx-1"><i class="fa-brands fa-youtube footer-icon"></i></li>
          <li style="font-size: 30px;" class="mx-1"><i class="fa-brands fa-square-instagram footer-icon"></i></li>
          <li style="font-size: 30px;" class="mx-1"><i class="fa-brands fa-facebook footer-icon"></i></li>
          <li style="font-size: 30px;" class="mx-1"><i class="fa-brands fa-twitter footer-icon"></i></li>
          <li style="font-size: 30px;" class="mx-1"><i class="fa-brands fa-pinterest footer-icon"></i></li>
          <li style="font-size: 30px;" class="mx-1"><i class="fa-brands fa-google-play footer-icon"></i></li>
        </ul>
      </div>
    </div>

  </div>
  <!-- Footer -->

  <!-- Bootstrap JS -->
  <script src="./assets/js/bootstrap.bundle.min.js"></script>

</body>

</html>