/* fonts - Lato, Rye */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Rye&display=swap');

* {

    padding: 0;
    margin: 0;
}

.Free-delivery {

    background-color: #3E5962;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.shopping-bag {

    font-size: 30px;
}

.bag-count-circle {

    position: relative;
    height: 25px;
    width: 25px;
    background-color: #3D5962;
    border-radius: 50%;
    bottom: 48px;
    left: 30px;
}

.bag-count {

    font-size: 14px;
    text-align: center;
    position: relative;
    top: 10%;
    right: 0.5px;
    color: white;
}

.search-input {

    border: 2px solid #005C6D;
}

.search-button {

    background-color: #005C6D;
    color: white;
}

.search-button:hover {

    background-color: #3D5962;
    color: white;
}

.nav-logo {

    font-size: 28px;
    font-family: 'Rye', cursive
}

.below-search-books {

    font-size: 18px;
    font-weight: 600;
    border-right: 5px double #C0A02E;
    max-width: fit-content;
    padding-right: 40px;
}

.below-search-nav {

    font-size: 18px;
    font-weight: 600;
    border-right: 2px solid #C0A02E;
    max-width: fit-content;
    padding-right: 40px;
}

.user-login {

    font-size: 25px;
    font-weight: 600;
    max-width: fit-content;
}

.banner {

    max-width: 100%;
    width: 100vw;
}

.banner-text {

    position: relative;
    bottom: 60px;
    left: 459px;
    font-size: 14px;
    color: #3C4D41;
    font-weight: bold;
}

.swift-Carousel {

    /* height: 500px; */
    max-height: 500px;
}

.swift-image {

    /* height: 500px; */
    max-height: 500px;
    max-width: 100vw;
}

.FindYourBook {

    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: gray;
    border-bottom: 1px solid grey;
}

.Genre-header {

    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: #005C6D;
}

.Genre-button {

    font-size: 16px;
    display: inline-block;
    border-radius: 16px;
    border: 1px solid #ddd6cf;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 8px 10px;
    font-weight: 700;
    height: 40px;
    line-height: 25px;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    color: black;
}

.orange {

    color: #FFAE19;
}

.Genre-button:hover {

    color: #005C6D;
}


/* Book Section */
.sort-nav {

    max-height: 20px;
    max-width: 100%;
    height: 20px;
    width: 100vw;
}

.sort-nav-header {

    font-family: 'Lato', sans-serif;
    color: #005C6D;
    font-weight: 800;
}

/* Books */
.book-img {

    /* border: 10px solid lightgray; */
    border: 10px inset aliceblue;
    max-height: 240px;
    max-width: 160px;
    height: 100vw;
}

.book-title-link {

    text-decoration: none;
    color: aliceblue;
}

.book-title-link:hover {

    font-weight: bold;
    text-decoration: underline;
}

.card:hover {

    border: 2px solid #005C6D;
}

/* Paging */
.btn-paging {

    background-color: #005C6D;
    color: white;
}

.btn-paging:hover {

    background-color: #3D5962;
    color: white;
}